.apartment-item {
  border-top: 1px solid #b5b5b5;
  padding: 5px 10px 2px 0px;

  a {
    position: relative;
    height: 165px;
    display: flex;
    text-decoration: none;
    color: black;
    font-weight: normal;
    .props-img {
      cursor: pointer;

      :hover {
        opacity: 0.7;
      }
    }

    .info {
      padding: 0px 0px 5px 10px;
      text-align: left;

      .apartment-item-title {
        font-size: 1rem;
        max-height: 50px;
        overflow: hidden;
        text-align: justify;
        font-weight: bold;
      }

      .address {
        color: gray;
        font-size: 14px;
        max-height: 50px;
        overflow: hidden;
      }

      .price {
        color: #009177;
        font-weight: bold;
        font-size: 1.2rem;
        position: absolute;
        bottom: 25px;
      }
    }

    .props-img {
      max-width: 250px;
      height: 100%;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
        margin: auto;
        display: block;
      }
    }

    .icon-info {
      padding: 0;
      display: flex;
      list-style: none;
      color: gray;
      margin-bottom: 0px;

      li {
        margin-right: 10px;
      }
    }

    .date {
      vertical-align: center;
      position: absolute;
      padding: 0;

      bottom: 0;
      font-size: 0.9rem;
      color: gray;
    }
    .float-right {
      bottom: 0px;
      right: 0;
      position: absolute;
      font-size: 15px;
      ul {
        padding: 0;
        display: flex;
      }
    }
  }
  :hover {
    > * {
      color: #009177;
    }
  }
}
// .col,
// .col-1,
// .col-2,
// .col-3,
// .col-4,
// .col-5,
// .col-6,
// .col-7,
// .col-8,
// .col-9,
// .col-10,
// .col-11,
// .col-12,
// .col-md-1,
// .col-md-2,
// .col-md-3,
// .col-md-4,
// .col-md-5,
// .col-md-6,
// .col-md-7,
// .col-md-8,
// .col-md-9,
// .col-md-10,
// .col-md-11,
// .col-md-12,
// .col-lg-1,
// .col-lg-2,
// .col-lg-3,
// .col-lg-4,
// .col-lg-5,
// .col-lg-6,
// .col-lg-7,
// .col-lg-8,
// .col-lg-9,
// .col-lg-10,
// .col-lg-11,
// .col-lg-12,
// .col-sm-1,
// .col-sm-2,
// .col-sm-3,
// .col-sm-4,
// .col-sm-5,
// .col-sm-6,
// .col-sm-7,
// .col-sm-8,
// .col-sm-9,
// .col-sm-10,
// .col-sm-11,
// .col-sm-12 {
//   padding: 0;
// }
@media only screen and (max-width: 600px) {
  .icon-info,
  .date-title,
  .float-right > ul > li > .phone-number {
    display: none !important;
  }
  .float-right > ul > li > .phone-number {
    font-size: 13px;
  }
}
@media only screen and (max-width: 800px) {
  .props-img {
    max-width: 130px !important;
    height: 165px !important;
    position: relative;
    padding: 2px 5px !important;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin: auto;
      display: block;
    }
  }
}
