.Login {
  display: block;
  position: relative;
  // background-color: white;

  .login-box-content {
    margin-top: 8vh;
  }
  .content {
    padding: 0px;
    text-align: center;
    height: 100vh;

    justify-content: center;
    padding-top: 25px;
    padding-bottom: 30px;

    .login-box {
      display: inline-block;
      text-align: left;
      padding: 30px 30px;
      // margin: auto;
      min-width: 30vw;
      margin-left: auto;

      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
    @media only screen and (max-width: 800px) {
      .login-box-content {
        margin-top: 30px;
      }
      .login-box {
        display: inline-block;
        text-align: left;
        padding: 30px 30px;
        width: 100%;
        margin: auto !important;
        background-color: white;
        box-shadow: unset !important;
      }
      .image-login {
        display: none !important;
      }
    }
    .image-login {
      width: auto;
      height: 420px;
      margin-right: auto;
      vertical-align: middle;
      box-sizing: border-box;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }
  }
  .row {
    margin: 0;
  }
  h3 {
    font-size: 50px;
    font-weight: bold;
    color: #009177;
    margin: 10px;
  }
}
