.Register {
  height: 100vh;
  .content {
    height: 100vh;
    display: block;
    .icon {
      display: flex;
      position: relative;
      margin-top: 20px;
      .icon-pre {
        position: absolute;
        left: 0;
      }
      .icon-next {
        position: absolute;
        right: 0;
      }
    }
    .views {
      margin-top: 50px;
    }
  }
}
