.apartment-detail-item {
  background-color: white;
  border-radius: 10px;
  padding: 10px 5px;
  text-align: left;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  .slide-apartment {
    border: 2px solid white;
  }
  .carousel-control-prev-icon {
    color: black !important;
  }
  .carousel-item {
    width: 100%;
    height: 500px;
    position: relative;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      margin: auto;
      display: block;
    }
  }
  .info {
    padding-left: 10px;
    > div {
      margin-top: 20px;
    }

    .title {
      text-align: left;
      font-weight: bold;
      font-size: 1.3rem;
      margin-bottom: 10px;
    }
    .item-info {
      font-weight: initial;
      .item-title {
        color: gray;
      }
    }
    .icon-share {
      margin-top: -7px;
    }
    .info-title {
      .title {
        font-size: 1.2rem;
        font-weight: bold;
      }
      .address {
        font-size: 1rem;
        color: gray;
      }
      .price {
        font-size: 1.6rem;
        font-weight: bold;
        color: #009177;
      }
    }
  }
  .info-price {
    margin-top: 10px;
    button {
      font-weight: bold;
      color: black;
    }
  }
  .info-content {
    .item-info {
      display: flex;
      .item-title {
        display: block;
        width: 100px;
      }
    }
  }
  .user-item {
    display: flex;
    margin-bottom: 10px;
  }
  .review-share {
    border-bottom: 1px gray dashed;
  }
  .content-post {
    p > span {
      font-family: Arial, Helvetica, sans-serif !important;
      font-size: 15px;
    }
  }
  .user-info {
    width: 100%;
    height: 100%;
    position: relative;
    padding: 10px 5px !important;
    border-bottom: 1px gray dashed;
    border-top: 1px gray dashed;

    display: flex;
    .user {
      margin-left: 10px;
      vertical-align: middle;
      margin-top: 5px;
      .name {
        font-size: 17px;
        font-weight: bold;
      }
      .time {
        color: gray;
      }
    }
    .box {
      position: relative;
      .contact-box {
        display: inline-block;
        margin-top: 6px;
      }
      .contact,
      .reviewStar {
        display: inline-block;
        padding: 7px 10px;
        height: 45px;
        border-radius: 5px;
        border: 1px solid #c9c9c9;
        justify-content: center;
        text-align: center;
        margin-left: 4px;
        span {
          vertical-align: middle;
          margin-top: 10px;
          font-weight: bold;
        }
      }
    }
  }
  .review-share {
    text-align: center;
    margin-top: 10px;
    padding: 10px 5px !important;

    ul {
      display: flex;
      text-decoration: none;
      list-style: none;
      padding: 0;

      li {
        padding: 0;
      }
    }
    .review {
      display: flex;

      .review-item {
        cursor: pointer;
        border-radius: 20px;
        padding: 7px 20px;
        border: 1px solid gray;
        margin-right: 10px;
      }
    }
    .share {
      margin-right: 10px;
    }
  }
  .info-main {
    .content {
      width: 100%;
    }
  }

  @media only screen and (max-width: 200px) {
    .review-share {
      ul {
        display: unset;
      }
    }
  }
}
@media only screen and (max-width: 850px) {
  .apartment-detail-item {
    .contact-box {
      display: none !important;
    }
  }
}
