.apartment-list {
  text-align: left;
  background-color: white;
  border: 10px;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  padding: 10px;
  ul {
    list-style: none;
    padding: 0;
    li {
      padding: 5px;
    }
  }
  .apartment-title {
    padding: 10px 5px 10px 5px;
    font-size: 1.2rem;
    font-weight: bold;
  }
  .result {
    height: 40px;
    padding: 2px;
    width: 100%;
    .result-tag {
      background-color: gainsboro;
      padding: 10px 0 10px 10px;
      margin-top: auto;
      margin-bottom: auto;
      font-size: 1rem;
      padding-left: 5px;
    }

    .right {
      position: relative;
      margin-right: 0;
    }
  }

  .col,
  .col-sm-8,
  .col-8,
  .col-4,
  .col-lg-8,
  .col-lg-3,
  .col-sm-4,
  .col-lg-9 {
    padding: 0;
  }
  .row {
    padding: 0;
  }
  .pagination-tag {
    width: 100%;
    text-align: center;
    justify-content: center;
  }
}
