.apartment-list{

    ul{
        list-style: none;
        padding: 0;
        li{
             padding: 5px;
        }
    }
    .apartment-title{
        padding: 10px 5px 10px 5px;
        font-size: 1.2rem;
        font-weight: inherit;
    }
    .result{
        display: flex;
        background-color: #F1f4f6;
        padding: 10px 0 10px 10px;
        .result-tag {
            margin-top: auto;
            margin-bottom: auto;
            font-size: 1rem;
        }
    }
    .col,
    .col-lg-9{
        padding: 0
    }
    .row{
        padding: 0;
    }
}