.change-password {
  height: 100%;

  .check-password {
    margin-top: 10px;

    .message-check {
      font-size: 14px;
      font-style: italic;
      margin-left: 3px;
      line-height: 22px;
    }
  }

  .content {
    text-align: center;
    position: relative;
    justify-content: center;
    width: 100%;

    .change-box {
      display: inline-block;
      text-align: left;
      background-color: white;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
      padding: 30px 30px;
      border-radius: 20px;
      min-width: 30vw;
      margin-top: 40px;
      margin-bottom: 40px;
    }

    h3 {
      font-size: 30px;
      font-weight: bold;
      text-align: center;
      margin: 30px;
      color: #009177;
    }
  }
}
