.contact-register{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  padding: 60px;
  .title-contact{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    .title-task {
      max-width: 250px;
      display: inline-block;
      border-radius: 25px;
      padding: 10px 20px;
      background-color: darkcyan;
      color: white;
    }
  }

}
