.side-bar {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  text-align: left;

  .img-side-bar {
    width: 100%;
    img {
      width: 100%;
      height: auto;
    }
  }
  .item {
    margin-bottom: 10px;
  }
}
