.selectRole {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 30px ;
  margin-top: 30px;
  display: block;
  .title {
    font-size: 20px;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
    margin-top: 20px;
    .title-task {
      color: white;
      width: 200px;
      display: inline-block;
      border-radius: 25px;
      padding: 10px 10px;
      background-color: darkcyan;
    }
  }
}
