.Intro {
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  padding: 30px;
  display: block;
  a{
    color: grey;
    font-size: 25px;
  }
  .content {
    margin-left: auto;
    margin-right: auto;
    display: inline-block;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .title-intro {
    font-size: 45px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    color: #009177;
  }

  .news-detail {
    padding: 20px 10px 30px 10px;
    h1.title {
      margin-bottom: 20px;
      font-size: 25px;
    }
    .summary {
      font-weight: bold;
    }
    .body {
      padding-top: 10px;
      font-size: 20px;
      text-align: justify;
      a{
        text-decoration: none;
      }
      ul{
        display: block;
        list-style-type: disc;
        margin-block-start: 1em;
        margin-block-end: 1em;
        padding-inline-start: 40px;
      }

    }

  }
}
