.icon-item {
  padding: 4px;
  border-radius: 50%;
  width: 30px;
  height: auto;
  background-color: wheat;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
}
.pagination {
  width: 100%;
  text-align: center;
  justify-content: center;
}
