.icon-item {
  padding: 4px;
  border-radius: 50%;
  width: 30px;
  height: auto;
  background-color: wheat;
  margin-right: 3px;
  text-align: center;
  cursor: pointer;
}
.pagination {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.button-approve {
  border-radius: 5px;
  padding: 5px 5px;
  border: 0.5px solid #009177;
  text-align: center;
  width: auto;
  max-width: 80px;
  display: block;
  margin: auto;
  cursor: pointer;
}
.manager-user {
  padding: 5px 5px;

  text-align: center;
  width: auto;
  display: block;
  margin: auto;
}
