.comment {
  padding: 5px 5px;
  border-bottom: 2px solid #f1f4f6;

  > .user-box {
    .avatar {
      margin-right: 10px;
    }
    line-height: 20px;
    .name {
      font-size: 15px;
    }
    .time {
      color: gray;
      margin-top: 9px;
    }
    .comment-text {
      margin-left: 15px;
    }
    > .user-info {
      display: flex;
    }
  }
}
