.searh-header {
  background-color: #262637;
  text-align: center;
  padding-right: 1px;
  display: block;
  .input-group-text {
    background-color: white !important;
    border: 0 !important;
  }
  .input-group-prepend {
    border: 0 white;
  }
  .drop-down {
    background-color: white;
    width: 100%;
    padding: 0;
    padding-left: 10px;
    height: 100%;
    font-size: 0.95rem;
    border-radius: 5px;
    text-align: left;
    font-family: Helvetica;
  }

  .drop-down :hover {
    border: none;
  }
  .col-4,
  .col-12,
  .col-lg-2,
  .col-6 {
    padding: 0;
  }
  .col-12,
  .col-6 {
    padding-left: 2px;
    height: 40px;
    margin-top: 2px;
    margin-bottom: 2px;
  }
  .container {
    padding: 0;
  }
}
