.term{
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-top: 30px;
  padding: 30px;
  display: block;
  text-align: justify;
  font-size: 20px;

  .header {
    font-size: 40px;
    font-weight: bold;
    text-align: center;
    margin: 30px;
    color: #009177;
  }
  a {
    text-decoration: none!important;
    color:#aaaaaa;
    font-weight: bolder;
    font-size: 22px;
    :hover{
      color: #009177!important;
    }
  }
  li{
    margin: 8px;
    list-style-type: decimal;
  }
}
