.HeaderItem {
  top: 0;
  width: 100%;
  padding: 0;
  // display: block;
  .navbar-custom {
    padding: 0 !important;
  }
  .name-app {
    font-family: "Times New Roman", Times, serif;
    font-weight: bolder;
    font-size: 2rem;
  }
  .post-button {
    background-color: white;
    border: black 1px solid;
    color: black;
    font-size: 0.8rem;
  }
}
