.remark {
  font-size: 20px;
  padding: 15px;
  margin-left: 50px;
  text-align: left;
  .name{
    font-size: 35px;
    font-weight: bold;
  }
  .phone {
    border-width: 2px;
    text-align: center;
    padding: 3px ;
    margin-top: 20px;
    border-color: #aaaaaa;
    border-radius: 10px;
  }
  .time{
    color: grey;
  }

}
.avatarUser {
  background-image: url("https://i.vietgiaitri.com/2018/9/12/hoi-ca-hani-exid-lai-co-them-khoanh-khac-de-doi-khi-bi-dan-em-hu-6c37af.jpg");
  width:200px;
  height:200px;
  overflow: hidden;
  border-radius:50%;
  position: center;
  alignment: center;
}




