.header-filter {
  width: 100%;
  background-color: #009177;
  .btn-primary,
  .btn-primary:hover {
    border-color: transparent !important;
  }
  .btn-add {
    color: white;
    font-weight: bold;
    border-radius: 50%;
    padding: 5px;
    border: white solid 2px;
  }
}
