.Footer {
  text-align: left;
  width: auto;
  height: auto;
  color: #e4e4e4;
  background-color: #009177;
  .header-footer {
    margin-top: 20px;
    margin-bottom: 20px;
    margin-right: 20px;
    font-size: 20px;
    font-weight: bold;
  }
  .name-web {
    font-size: 40px;
    font-weight: bold;
  }
  .contactIcon {
    margin-top: 20px;
    margin-bottom: 10px;
    .contactIcon-item {
      white-space: nowrap;
      margin-right: 20px;
    }
  }
  .contact-fild {
    margin-bottom: 5px;
  }

  .name-app {
    margin-bottom: 10px;
  }
}
