.comment-item {
    padding: 5px 10px;
    .avatar {
        margin-top: 5px;
        margin-right: 15px;
    }
    .user {
        font-weight: bold;
    }
    .time-comment {
        color: gray;
        font-size: 14px;
    }
    .content-comment {
        margin-left: 55px;
    }
}
